---
import Layout from "@layouts/Layout.astro"
import PageTopLayout from "@layouts/PageTopLayout.astro"
import client from "@tina/__generated__/client"
import { EventContent } from "@tina/components/event/EventContent"
import { EventTitle } from "@tina/components/event/EventTitle"
import { getCollection } from "astro:content"

export async function getStaticPaths() {
  const eventCollection = await getCollection("event")

  return eventCollection.map((event) => ({
    params: { slug: event.id },
    props: {
      event,
      getTinaProps: async () =>
        client.queries.event({
          relativePath: event.data.tinaInfo.relativePath,
        }),
    },
  }))
}

const { event, getTinaProps } = Astro.props
const tinaProps = await getTinaProps()

if (!event) {
  return Astro.redirect("/404")
}
---

<Layout title={`e29 | ${event.data.title}`}>
  <main class="flex min-h-full w-full flex-col items-start">
    <PageTopLayout
      backTo={{
        href: "/agenda",
        label: "Retour à l'agenda",
      }}><EventTitle {...tinaProps} client:tina /></PageTopLayout
    >

    <div
      id={`event-${event.data.tinaInfo.filename}-details-section`}
      class="w-full overflow-y-hidden"
    >
      <EventContent {...tinaProps} client:load />
      {/* client:load required to allow carousel functionality hydration */}
    </div>

    <!-- Spacer div to prevent footer from moving up during pin (desktop only) -->
    <div id="pin-spacer" class="hidden h-0 md:block"></div>
  </main>
</Layout>

<script>
  import { gsap } from "gsap"
  import { ScrollTrigger } from "gsap/ScrollTrigger"

  document.addEventListener("DOMContentLoaded", function () {
    // Magnet scroll effect (desktop only)
    if (window.innerWidth >= 640) {
      // sm breakpoint
      gsap.registerPlugin(ScrollTrigger)

      const eventSlug = window.location.pathname.split("/").pop()
      if (!eventSlug) return

      const section = document.getElementById(
        `event-${eventSlug}-details-section`
      )
      const pinSpacer = document.getElementById("pin-spacer")
      if (!section || !pinSpacer) return

      const RELEASE_OFFSET = 300

      // Set the pin-spacer height to match the pin duration
      pinSpacer.style.height = `${RELEASE_OFFSET}px`

      ScrollTrigger.create({
        trigger: section,
        start: "top top",
        end: `+=${RELEASE_OFFSET}`,
        pin: true,
        scrub: 0.5,
        invalidateOnRefresh: true,
        onRefresh: () => {
          // Ensure pin-spacer height is recalculated on window resize
          pinSpacer.style.height = `${RELEASE_OFFSET}px`
        },
      })

      // Ensure carousel buttons remain clickable during pin
      section.style.pointerEvents = "auto"
    }
  })
</script>
