---
const liStyle = ""
---

<nav class="border-y-2 mt-2.5">
  <ul class="flex gap-10 justify-start py-4 px-10 text-2xl no-underline">
    <li><a href="/" class={liStyle}>Espace29</a></li>
    <li><a href="/infos" class={liStyle}>Infos</a></li>
    <li><a href="/agenda" class={liStyle}>Agenda</a></li>
    <li><a href="/artistes" class={liStyle}>Artistes</a></li>
    <li><a href="/artistes" class={liStyle}>Artistes</a></li>
    <li><a href="/dev/design-system" class={liStyle}>Design system</a></li>
    <!-- <li><a href="/workshops" class={liStyle}>Workshops/résidences</a></li> -->
  </ul>
</nav>
